// Required
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

// Overriding default variables
@import './variables';
@import './fonts';
@import './buttons';
@import './spacings';

// Optional
@import '../../node_modules/bootstrap/scss/containers';
@import '../../node_modules/bootstrap/scss/grid';

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--c-bg-0);
    line-height: 1.3125;
    font-size: var(--f-s-normal);
}

.disabled {
    opacity: .5;
    cursor: default;
}

#left-bar {
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 58px;
    padding: 0 $spacer-2;

    @include media-breakpoint-up(sm) {
        padding: 0 $spacer-3;
    }

    @include media-breakpoint-up(xxl) {
        max-width: 255px;
    }

    #top {
        max-width: 100%;
    }
}

#feed {
    border-left: var(--b-width) solid var(--b-color);
    border-right: var(--b-width) solid var(--b-color);
    height: 100vh;
    max-width: 100%;

    @include media-breakpoint-up(md) {
        max-width: 600px - 2 * $spacer-4 - 2px;
    }

    .feed-section {
        border-bottom: var(--b-width) solid var(--b-color);
        padding: 0 $spacer-4;
        align-items: center;

        &:first-of-type {
            height: var(--d-feed-header);
        }
    }
}

a {
    text-decoration: none;
    display: flex;
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
    padding: 0;
    display: flex;
}

#nav>a {
    padding: 7px 0;

    &:first-of-type {
        padding: 7px + $spacer-1 0 7px 0;
    }

    &:last-of-type {
        padding: 7px 0 7px + $spacer-2 0;
    }
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.d-inline-flex {
    display: inline-flex;
}

.d-flex {
    display: flex;
}

.border-bottom {
    border-bottom: var(--b-width) solid var(--b-color);
}

.border-0 {
    border: none !important;
}