// Required
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

// Overriding default variables
@import './variables';
@import './fonts';
@import './buttons';

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--c-bg-0);
    line-height: 1.3125;
}

.disabled {
    opacity: .5;
    cursor: default;
}